{% extends 'dashboard/partials/base.html.twig' %}

{% block title %}Bulk SMS::enysms{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('css/dashboard') }}
{% endblock %}

{% block body %}
    {% include "dashboard/partials/header.html.twig" %}  
    <div class="container-fluid">
        <div class="row">
            {% include "dashboard/partials/menu.html.twig" %}
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">  
                
                <div class="container">
                    <div class="row-md px-5">
                        {% for label, messages in app.flashes %}
                            <div class="container mt-3">
                                <div class="alert alert-dismissible alert-success">
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                    {% for message in messages %}
                                        <p>{{ message | raw }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}

                    

                        <h2 class="my-3">Bulk SMS </h2>
                        <hr>
                        <div class="alert alert-light">
                            
                            {{ form_start(form) }}  

                            <div class="row">
                                <div class="col-md">{{form_row(form.groupes)}}</div>
                                <div class="col-md">{{form_row(form.sender)}}</div>
                            </div>                          

                            {{ form_widget(form) }}
                                        
                                
                            <div class="alert alert-primary clearfix my-5">
                                <h2 class="alert-heading">Sauvegarder les informations</h2>
                                <p>Vous êtes sur le point d'envoyer un bulk SMS.</p>
                                <button type="submit" class="btn btn-success float-right" onclick="confirm('Confirmez-vous cette opération ? ')">
                                    <i class="fas fa-check"></i>
                                    Envoyez 
                                </button>
                            </div>
                            {{ form_end(form) }}
                        </div>                            
                    </div>
                </div> 
            </main>
        </div>
        
    </div>
   
    
    
{% endblock %}
{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    {{ encore_entry_script_tags('js/dashboard') }}   
    <script>
    $('.btn_url').on('click', function(e){
        e.preventDefault();
        var node = $(this).parentNode.parentNode;
        node.parentNode.removeChild(node)

    })

    $('select').selectize();
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                
                reader.onload = function (e) {
                    $('#avatar').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }  
    </script>
{% endblock %} 