<table class="table table-hover">
    <thead>
        <tr>
            <th>N°</th>
            <th>Contact</th>
            <th class="text-center">Téléphone 1</th>
            <th>Groupe</th>
            <th width="13%" class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% set i = paginator.start %}
        {% for member in contacts %}
            <tr>
                {% set i = i+1 %}
                <td>{{i}}</td>
                <td><a href="#">
                   <img src="/images/avatar.jpg" alt="Avatar de {{member.name}}" class="avatar avatar-mini">                                      
                    {{member.name ~' '~ member.lastname ~' '~ member.surname }}</a>
                </td>                    
                <td class="text-center">{{member.phoneMain}}</td>
                <td >
                    {% for item in member.groupes %}
                        <span class="span badge badge-primary" data-toggle="tooltip" data-placement="bottom" title="{{item.title}}" data-original-title="{{item.title}}">{{ item.title }}</span>
                    {% endfor %}
                </td>
                <td class="text-center">
                    <a href="{{ path('dashboard_person_profile', {'id': member.id}) }}" class="btn btn-primary"><i class="fas fa-eye"></i></a> 
                    <a href="{{ path('dashboard_person_edit', {'id': member.id}) }}" class="btn btn-warning"><i class="fas fa-edit"></i></a> 
                    {% if is_granted("ROLE_ADMIN") %}
                    <a href="{{ path('dashboard_person_profile', {'id': member.id}) }}" class="btn btn-danger"><i class="fas fa-trash"></i></a> 
                    {% endif %}                   
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{{ paginator.display }}